* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

 .shop-container {
   width: 100%;
} 

.shop-container .top-banner {
    background: url(../img/banner/b4.jpg) no-repeat top / cover;
    width: 100%;
    height: 40vh;
    margin-bottom: 2rem;
    position: relative;
}

.shop-container .top-banner .banner-info {
    text-transform: capitalize;
    position: absolute;
    left: 10%;
    top: 35%;
    -webkit-user-select: none;
    user-select: none;
}

.shop-container .top-banner .banner-info p {
    font-weight: 600;
}

.shop-container .items {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: aliceblue;
}

@media screen and (max-width: 477px) {
    .shop-container .top-banner .banner-info p, h2 {
        color: #fff;
    }

    .shop-container .top-banner .banner-info p {
        font-size: 0.813rem;
    }
}