/*======== NEWSLETTER-SECTION =========*/
.newsletter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2.5rem 6.25rem;
    margin: 1.875rem 0;
    background: url(../src/img/banner/b1.jpg) center / cover no-repeat;
}

.newsletter .newsletter-info {
    text-transform: capitalize;
}

.newsletter .newsletter-info h3 {
    color: #fff;
    font-weight: 700;
    font-size: 1.875rem;
}

.newsletter .newsletter-info p {
    font-size: 1.125rem;
    font-weight: 600;
    color: var(--paragraph-color);
    margin: 0.938rem 0 0.625rem 0;
}

.newsletter .newsletter-info p span {
    color: var(--primary-color);
}

.form {
    display: flex;
    width: 30%;
}

.form input {
    height: 3.125rem;
    padding: 0 1.25rem;
    font-size: 0.875rem;
    width: 100%;
    border: 0.063rem solid transparent;
    border-radius: 0.313rem;
    outline: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.form input::placeholder {
    font-weight: 600;
}

.form .newsletter-btn {
    height: 3.125rem;
    border-top-right-radius: 0.313rem;
    border-bottom-right-radius: 0.313rem;
    font-weight: 600;
    white-space: nowrap;
    width: 50%;
    border: none;
    color: #fff;
    background-color: var(--primary-color);
    transition: all .4s ease-in-out;
}

.form .newsletter-btn:hover {
    border: 0.063rem solid var(--primary-color);
    background-color: transparent;
}


@media screen and (max-width: 1280px) {
    .newsletter {
        padding: 2.5rem 2.813rem;
    }

    .form {
        width: 69%;
    }
}

@media screen and (max-width: 477px) {
    .newsletter {
        padding: 1.25rem 0.875rem ;
    }

    .newsletter .newsletter-info h3 {
        font-size: 1.25rem;
    }

    .newsletter .newsletter-info p {
        font-size: 1rem;
    }

    .newsletter .form {
        width: 100%;
    }
}

@media screen and (max-width: 799px) {
    .newsletter {
        padding: 1.25rem 0.875rem;
    }

    .newsletter .form {
        width: 100%;
    }
}
