.cart-container {
  border-collapse: collapse;
  padding-top: 2rem;
}
.cart-container .items {
  padding: 2.5rem;
  margin-bottom: 1rem;
}

.cart-container .items .item {
  font-weight: 700;
}

.empty-cart {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 70px);
  font-weight: 600;
  font-size: 1.7rem;
}

.cart-container .items .item h5 {
  font-weight: 700;
  text-transform: capitalize;
  font-size: 1.4rem;
  margin-bottom: 1rem;
  color: var(--secondary-color);
}
.cart-container .items .total-price {
  text-align: right;
  font-size: 2rem;
  margin-top: 1rem;
  color: var(--secondary-color);
}

.cart-container .items .total-price span {
  color: var(--primary-color);
  font-size: 1.875rem;
}

table {
  display: flex;
  justify-content: center;
  background-color: #c9c7c7;
}

table tr td {
  padding: 0 4.375rem;
}

table .btn {
  font-size: 0.875rem;
  font-weight: 600;
  padding: 0.938rem;
  color: #000;
  background-color: #fff;
  border-radius: 0.313rem;
  cursor: pointer;
  border: none;
  outline: none;
  transition: all 0.3s ease-in-out;
  margin-right: 0.625rem;
}

table .btn:hover {
  background-color: var(--primary-color);
  color: #fff;
}

.cart-container .items .clear-btn {
  font-size: 1rem;
  font-weight: 600;
  padding: 0.938rem;
  color: #fff;
  background-color: var(--primary-color);
  border-radius: 0.313rem;
  cursor: pointer;
  border: none;
  outline: none;
  margin-left: 0.625rem;
  margin-top: 0.5rem;
  float: right;
  transition: all 0.3s ease-in-out;
  opacity: 1;
}

.cart-container .items .clear-btn:hover {
  opacity: 0.7;
}

/*========== MOBILE-SCREENS ==========*/
@media screen and (max-width: 600px) {
  .cart-container .items {
    padding: 0;
  }

  .cart-container .items .item {
    font-weight: 700;
    padding-inline: 1rem;
  }

  .cart-container .items .item h5 {
    padding-left: 0 !important;
  }

  table {
    padding: 2rem;
  }

  table tbody {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.25rem;
  }

  table tr {
    display: flex;
    flex-direction: column;
    gap: 0.313rem;
  }

  table tr td {
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .cart-container .items .total-price {
    text-align: center;
  }

  .cart-container .items .clear-btn {
    font-size: 0.813rem;
  }

  .cart-container .items .buttons {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

/*========== TABLET-SCREENS ==========*/
@media screen and (max-width: 1265px) {
  .cart-container .items {
    padding: 2.5rem 0;
  }

  .cart-container .items .item h5 {
    padding-left: 3rem;
  }

  table {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1.875rem;
    padding: 1.25rem;
  }

  table tr td {
    padding: 0 0.313rem;
  }

  table .btn {
    font-size: 0.875rem;
    padding: 0.625rem;
  }

  table tr td .normal {
    padding: 0.625rem 1rem;
  }
}

@media screen and (max-width: 683px) {
  .cart-container .items {
    padding: 2.5rem 0;
  }

  table {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.875rem;
  }

  table .btn {
    font-size: 0.875rem;
    padding: 0.625rem;
  }

  table tr td .normal {
    padding: 0.625rem 1rem;
  }
}
