.about {
    width: 100%;
    /* height: 100vh; */
}

.about .about-banner {
    background: url(../img/about/banner.png) no-repeat center / cover;
    width: 100%;
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
    -webkit-user-select: none;
    user-select: none;
}

.about .about-banner .about-info h1 {
    color: #fff;
    text-transform: capitalize;
    font-weight: 700;
    font-size: 3.125rem;
}

.about .about-banner .about-info p {
    text-align: center;
    text-transform: capitalize;
    color: #fff;
}

.about .about-us {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 2.5rem;
    padding: 2rem 0;
}

.about .about-us .about-us-img img {
    width: 37.5rem;
    height: 600;
    border-radius: 0.313rem;
    filter: grayscale(100%);
    transition: all .4s ease-in-out;
}

.about .about-us .about-us-img img:hover {
    filter: grayscale(0%);
}

.about .about-us .about-us-desc {
    padding-top: .5rem;
}

.about .about-us .about-us-desc h1 {
    font-size: 4.375rem;
    margin-bottom: 2rem;
}

.about .about-us .about-us-desc h1 span {
    color: var(--primary-color);
}

.about .about-us .about-us-desc p {
    width: 31.25rem;
}

.about .our-app {
    margin-top: 4rem;
    padding-inline: 2rem;
}

.about .our-app {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 3.125rem;
    text-transform: capitalize;
}

.about .our-app h1 {
    font-size: 4.375rem;
}

.about .our-app h1 span {
    color: var(--primary-color);
}


@media screen and (max-width: 477px) {
    .about .about-us {
        display: flex;
        flex-direction: column;
        padding-inline: 1rem;
    }

    .about .about-us  {
        width: 100%;
    }

    .about .about-us .about-us-img img {
        width: 100%;
    }

    .about .about-us .about-us-desc h1 {
        font-size: 50px;
        margin-bottom: 1rem;
    }

    .about .about-us .about-us-desc h1 span {
        font-size: 3.125rem;
    }

    .about .about-us .about-us-desc p {
        width: 100%;
    }

    .about .our-app {
        justify-content: flex-start;
        align-items: flex-start;
        padding-inline: 1rem;
        gap: 1.25rem;
    }
    .about .our-app h1 {
        font-size: 2.5rem;
        margin-bottom: -7rem;
    }

    .about .our-app h1 span {
        font-size: 2.5rem;
    }

}