/*=========== GOOGLE-FONTS ==========*/
@import url("https://fonts.googleapis.com/css2?family=Overlock+SC&family=Overlock:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap");

/*========= DEFAULT-RESET ===========*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Overlock SC", sans-serif;
}

/*============= DEFAULT-STYLES =============*/
:root {
  --primary-color: #f44336;
  --secondary-color: #222;
  --body-background: #fff;
  --navbar-background: #eee;
  --text-color: #000;
  --home-text-color: #fff;
  --paragraph-color: #465b52;
  --box-border: #cce7d0;
  --card-color: #cfcfcf3b;
  --box-shadw: rgba(0, 0, 0, 0.3);
  --transition: 0.5s ease-in-out;
  --form-border: 0.063rem solid #000;
}
/*========= DARK-MODE ==========*/
[data-theme="dark"] {
  --body-background: hsl(220, 18%, 13%);
  --secondary-color: #fff;
  --navbar-background: hsl(220, 18%, 13%);
  --text-color: #fff;
  --home-text-color: #000;
  --paragraph-color: #6c6c6c;
  --box-border: #f44336;
  --card-color: hsl(220, 18%, 99%);
  --box-shadw: rgba(32, 29, 233, 0.637) 0px 25px 50px -12px;
  --form-border: 1px solid #f44336;
}

.app {
  background-color: var(--body-background);
  display: flex;
  flex-direction: column;
  transition: var(--transition);
}

::-webkit-scrollbar {
  background-color: white;
  width: 0.7rem;
}

::-webkit-scrollbar-thumb {
  background-color: var(--primary-color);
}

body {
  background-color: var(--body-background);
  overflow-x: hidden;
  /* height: 100vw; */
}

html {
  scroll-behavior: smooth;
}

/*============ GLOBAL-STYLES =============*/
h1 {
  /* font-size: 3.125rem; */
  line-height: 4rem;
  color: var(--text-color);
}

h2 {
  font-size: 2.875rem;
  line-height: 3.375rem;
  color: var(--text-color); /* --secondary-color */
}

h4 {
  font-size: 1.5rem;
  color: var(--text-color);
}

h6 {
  font-weight: 700;
  font-size: 0.75rem;
}

p {
  font-size: 1rem;
  color: var(--paragraph-color);
  /* margin: 15px 0 10px 0; */
}

a {
  text-decoration: none;
}

small {
  font-weight: 700;
  color: #000;
}

.section-p1 {
  padding: 2.5rem 5rem;
}

.section-m1 {
  margin: 2.5rem 0;
}

button.normal {
  font-size: 0.875rem;
  font-weight: 600;
  padding: 0.938rem 1.875rem;
  color: #000;
  background-color: #fff;
  border-radius: 0.313rem;
  cursor: pointer;
  border: none;
  outline: none;
  transition: all 0.3s ease-in-out;
}

button.normal:hover {
  background-color: var(--primary-color);
  color: #fff;
}

button.white {
  font-size: 0.813rem;
  font-weight: 600;
  padding: 0.688rem 1.125rem;
  color: #fff;
  background-color: transparent;
  cursor: pointer;
  border: 0.063 solid white;
  outline: none;
  transition: all 0.3s ease-in-out;
}

/*=============== MAIN-CONTENT =============*/

/*============ HOME-SECTION ===========*/
#home {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url(../src/components/img/others/background.jpg);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 95vh;
  width: 100%;
  overflow: hidden;
  position: relative;
  transition: all 0.4s ease-in-out;
}

#home:hover {
  filter: grayscale(0%);
}

.home-content {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.home-content > .home-elements {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 14%;
  transform: translateY(-50%);
}

.home-content > .home-elements h4 {
  padding-bottom: 1rem;
  color: var(--home-text-color);
}

.home-content > .home-elements h2 {
  color: var(--home-text-color);
}

.home-content > .home-elements h1 {
  color: var(--text-color);
  -webkit-text-stroke: 0.125rem var(--primary-color);
}

.home-elements .select-none {
  text-transform: capitalize;
  -webkit-user-select: none;
  user-select: none;
}

.home-elements h2 span {
  color: #fff;
}

.home-elements p {
  font-weight: 600;
  color: #000;
  margin: 0.938rem 0 1rem 0;
}

.home-elements p span {
  color: var(--primary-color);
}

.home-elements button {
  padding: 0.625rem 1.25rem;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  font-weight: 600;
  border-radius: 1rem;
  transition: all 0.4s ease-in-out;
}

.home-elements button:hover {
  background-color: var(--primary-color);
  color: #fff;
}

/*============ FEATURES-SECTION ============*/
.features {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.features .box {
  width: 11.25rem;
  text-align: center;
  padding: 1.563rem 1rem;
  margin: 3rem 2rem;
  border: 0.063rem solid var(--box-border);
  background-color: var(--card-color);
  cursor: pointer;
  border-radius: 0.625rem;
  transition: all 0.4s ease-in-out;
}

.features .box:hover {
  transform: scale(1.1);
  box-shadow: var(--box-shadw);
}

.features .box img {
  width: 100%;
  margin-bottom: 0.625rem;
}

.features .box h6 {
  font-size: large;
  background-color: var(--primary-color);
}

.features .box:nth-child(2) h6 {
  background-color: #cdebbc;
}

.features .box:nth-child(3) h6 {
  background-color: #d1e8f2;
}

.features .box:nth-child(4) h6 {
  background-color: #cbd626;
}

.features .box:nth-child(5) h6 {
  background-color: #938ae3;
}

.features .box:nth-child(6) h6 {
  background-color: #3677c1;
}

/*============= PRODUCTS-SECTION =============*/
.products {
  text-align: center;
  padding-bottom: 2rem;
}

.products h2 {
  color: var(--text-color);
}

.products h2 span {
  color: var(--primary-color);
}

.products p {
  text-transform: capitalize;
  font-weight: 600;
}

.products-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2.5rem;
  flex-wrap: wrap;
}

.products-card .card {
  background-color: var(--card-color);
  border-radius: 0.625rem;
  width: 23%;
  min-width: 15.625rem;
  padding: 0.625rem 1rem;
  margin: 1rem 0;
  position: relative;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
}

.products-card .card:hover {
  box-shadow: var(--box-shadw);
}

.products-card .card img {
  width: 100%;
  border-radius: 0.625rem;
  transition: all 0.4s ease-in-out;
}

.products-card .card img:hover {
  transform: scale(1.1);
}

.products-card .card .card-info {
  text-align: left;
  font-weight: 500;
  padding: 0.625rem 0;
}

.products-card .card .card-info span {
  color: #606063;
  font-weight: 600;
}

.products-card .card .card-info h4 {
  font-weight: 700;
  color: #000;
}

.products-card .card .card-info .price {
  font-size: 1.25rem;
  color: var(--primary-color);
  font-family: 'Courier New', Courier, monospace;
  font-weight: 600;
}

.products-card .card .cart {
  position: absolute;
  right: 10%;
  bottom: 4%;
  color: #fff;
  font-weight: 700;
  background-color: var(--primary-color);
  padding: 0.625rem;
  border-radius: 50%;
  transition: all 0.4s ease-in-out;
}

.products-card .card .cart:hover {
  color: var(--primary-color);
  background-color: #fff;
  border: 1px solid var(--primary-color);
}

/*========= BANNER-SECTION =========*/
.banner {
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-transform: capitalize;
  position: relative;
}

.banner img {
  width: 100%;
  height: 40vh;
  object-fit: cover;
  object-position: center;
}

.banner .banner-info {
  position: absolute;
}

.banner h4 {
  color: #fff;
  font-size: 1rem;
  letter-spacing: 0.125rem;
}

.banner h2 {
  color: #fff;
  text-transform: capitalize;
  padding: 1rem;
  font-size: 1.875rem;
}

.banner h2 span {
  color: var(--primary-color);
}

.banner button {
  font-size: 1rem;
}

/*========= SECOND-BANNER =========*/
.second-banner {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 2rem;
  margin-top: 1rem;
}

.second-banner .banner-box {
  background: url(../src/components/img/others/img4.jpg) center / cover no-repeat;
  height: 50vh;
  min-width: 47%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 1.875rem;
  text-transform: capitalize;
  border-radius: 0.313rem;
  -webkit-user-select: none;
  user-select: none;
}

.second-banner .banner-box:nth-child(1) h4 {
  font-weight: 700;
}

.second-banner .banner-box:nth-child(1) h2 span {
  color: var(--primary-color);
  font-weight: 700;
}

.second-banner .banner-box:nth-child(1) span {
  color: #000;
  font-weight: 700;
}

.second-banner .banner-box:nth-child(2) {
  background: url(../src/components/img/banner/b10.jpg) center / cover no-repeat;
}

.second-banner .banner-box:nth-child(2) h4 {
  color: #fff;
}

.second-banner .banner-box:nth-child(2) h2 {
  font-weight: 700;
  color: #fff;
}

.second-banner .banner-box:nth-child(2) h2 span {
  color: var(--primary-color);
}

.second-banner .banner-box span {
  padding-bottom: 1rem;
  color: #fff;
  font-weight: 700;
}

/*========= THIRD-BANNER ========*/
.third-banner {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 3.125rem;
  flex-wrap: wrap;
}

.third-banner > .th-banner-box {
  background: url(../src/components/img/others/img3.jpg) top / cover no-repeat;
  height: 30vh;
  min-width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  -webkit-user-select: none;
  user-select: none;
  padding: 1.25rem;
  margin-bottom: 1.25rem;
  border-radius: 0.313rem;
}

.third-banner .th-banner-box h2 {
  color: #fff;
}

.third-banner .th-banner-box h4 {
  color: var(--primary-color);
  font-weight: 600;
}

.third-banner > .th-banner-box:nth-child(2) {
  background: url(../src/components/img/others/img6.jpg) top / cover no-repeat;
}

.third-banner > .th-banner-box:nth-child(3) {
  background: url(../src/components/img/others/img5.jpg) top / cover no-repeat;
}

/*========== MEDIA-QUERIES(Ipad) ===========*/
@media screen and (max-width: 799px) {
  .section-p1 {
    padding: 2.5rem;
  }
  #home {
    background-position: center;
    height: 91vh;
  }

  .home .home-content .home-elements {
    padding: 0 1.875rem;
  }

  .features {
    justify-content: center;
  }

  .features .box {
    margin: 4rem 2rem;
  }

  .products .products-card {
    justify-content: center;
  }

  .products .products-card .card {
    margin: 1.875rem;
  }

  .banner {
    height: 25vh;
  }

  .second-banner .banner-box {
    min-width: 100%;
    height: 30vh;
    margin-bottom: 1.5rem;
  }

  .second-banner .banner-box:nth-child(1) {
    background-position: top;
  }

  .second-banner .banner-box:nth-child(2) {
    margin-bottom: 0;
  }

  .third-banner {
    padding: 0 1.688rem;
  }
  .third-banner .th-banner-box {
    width: 27%;
  }

  .third-banner .th-banner-box h2 {
    font-size: 2rem;
    line-height: 2rem;
  }

  .newsletter {
    padding: 2.5rem;
  }
  .form {
    width: 70%;
  }

  footer {
    margin: 0;
  }
}

/*========== MEDIA-QUERIES(MOBILE)===========*/
@media screen and (max-width: 477px) {
  #home {
    height: 100vh; /* we can also calculate it by substracting the Navbar height from the home height calc(100vh - 20vh)*/
  }

  .home-content > .home-elements {
    top: 60%;
  }
  .home-elements p,
  h4 {
    font-weight: 600;
    color: #fff;
  }

  .home-elements h1 {
    font-size: 2.375rem;
    -webkit-text-stroke: 0 !important;
  }

  .home-elements h4 {
    padding-bottom: 0 !important;
  }

  .home-elements h1,
  h2 {
    line-height: 1;
  }

  .features .box {
    margin: 2rem 1rem;
  }

  .products p {
    padding-bottom: 1rem;
  }

  .products .products-card {
    padding: 0 1.25rem;
  }
  .products .products-card .card {
    width: 100%;
    margin: 1.25rem;
  }

  .banner {
    height: 30vh;
  }

  .second-banner {
    padding: 1.25rem;
  }

  .second-banner .banner-box {
    padding: 1.25rem;
  }

  .second-banner .banner-box {
    height: 40vh;
  }

  .third-banner {
    padding: 0 1.25rem;
  }

  .third-banner .th-banner-box {
    width: 100%;
  }
}
